// .warning-notice {
// }
// .attention-notice {
// }
.info-notice {
  position: relative;
  border-radius: var(--regular-border-radius);
  background-color: hsla(var(--link-color-bg-light-alt-hsl), 0.3);
  border: 1px solid var(--color-bg-light-alt);
  padding: var(--space-sm) var(--space-md);

  &::before {
    content: "";
    width: 3rem;
    height: 3rem;
    display: block;
    background-image: url("/src/icons/mark.svg");
    background-size: 2rem;
    background-position: center;
    float: left;
    margin-right: var(--space-sm);
  }
}
