@use "../utils/variables" as *;
.bg-light-alt {
  background-color: var(--color-bg-light-alt);
}
.bg-light {
  background-color: var(--color-bg-light);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
