/** PACIFICO FONT */
/* pacifico-regular - latin */
@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/pacifico/pacifico-v22-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/pacifico/pacifico-v22-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/pacifico/pacifico-v22-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/pacifico/pacifico-v22-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/pacifico/pacifico-v22-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/pacifico/pacifico-v22-latin-regular.svg#Pacifico") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/** RALEWAY FONT */
/* raleway-100 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/raleway/raleway-v28-latin-100.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-100.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-100.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-100.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-100.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-100.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-regular - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/raleway/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-700 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/raleway/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-900 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/raleway/raleway-v28-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-900.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-900.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-900.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-900.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-900.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-100italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/raleway/raleway-v28-latin-100italic.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-100italic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-100italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-100italic.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-100italic.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-100italic.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/raleway/raleway-v28-latin-italic.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-italic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-italic.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-italic.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-italic.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-700italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/raleway/raleway-v28-latin-700italic.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-700italic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-700italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-700italic.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-700italic.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-700italic.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* raleway-900italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/raleway/raleway-v28-latin-900italic.eot"); /* IE9 Compat Modes */
    src: local(""), url("/fonts/raleway/raleway-v28-latin-900italic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/fonts/raleway/raleway-v28-latin-900italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-900italic.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/raleway/raleway-v28-latin-900italic.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("/fonts/raleway/raleway-v28-latin-900italic.svg#Raleway") format("svg"); /* Legacy iOS */
    font-display: swap;
}

