@use "../utils/variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin-block: 0 2rem;
  line-height: 1.2;
}
h1 {
  font-size: var(--fs-2xl);
  font-weight: 800;
}
h2 {
  font-size: var(--fs-xl);
  font-weight: 700;
}
h3 {
  font-size: var(--fs-lg);
  font-weight: 600;
}
h4 {
  font-size: var(--fs-md);
  font-weight: 500;
}
h5 {
  font-size: var(--fs-sm);
  font-weight: 500;
}
h6 {
  font-size: var(--fs-xs);
  font-weight: 500;
}
p {
  font-size: var(--fs-base);
  font-weight: 400;
}
.pacifico {
  font-family: var(--ff-pacifico);
}
.raleway {
  font-family: var(--ff-raleway);
}
