.single-pool {
    &__content {
        display: grid;
        grid-template-columns: calc((100% * 2 / 5) - 2rem) calc((100% * 3 / 5) - 2rem);
        gap: 4rem;
        align-items: center;
        padding-bottom: var(--space-lg);

        @media screen and (max-width: 992px) {
            grid-template-columns: calc(40% - 1rem) calc(60% - 1rem);
            gap: 2rem;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
    &__details {
        background-color: var(--color-bg-light);
        border-radius: 20px;
        padding: var(--space-lg);
        box-shadow: 0 10px 15px -3px hsla(var(--link-color-secondary-hsl), 0.1),
            0 4px 6px -4px hsla(var(--link-color-secondary-hsl), 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);

        * {
            margin: 0;
        }
        *a {
            color: var(--color-black);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-image: url("/images/icons/event.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
            opacity: 0.05;
            z-index: -1;
        }
        h3 {
            font-size: var(--fs-md);
        }

        h4 {
            font-family: var(--ff-pacifico);
            font-size: var(--fs-sm);
        }

        ul {
            list-style: none;
            padding-left: var(--space-sm);
            & > li {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                a {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    width: 100%;
                    & > svg {
                        width: 2rem;
                        height: 2rem;
                        margin-right: var(--space-sm);
                    }
                }
                //
            }
        }
        picture {
            display: flex;
            width: 4rem;
            height: 4rem;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}
