---
// interface Props {
// 	class?: string;
// 	swiperParams?: Object;
// }
const { class: className, swiperParams } = Astro.props;

// import Swiper bundle with all modules installed

// @ts-ignore
import Swiper, { Navigation, Pagination, Scrollbar, Autoplay } from "swiper";
// import styles bundle
import "swiper/css/bundle";

const swiper = new Swiper(".swiper", swiperParams);
---

<!-- Slider main container -->
<div class:list={[`swiper`, className]} {swiperParams}>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <slot />
  </div>
</div>
