@use "../utils/mixins" as *;

/* common class for all devices */
.horizontal-scroll {
  @include horizontal-scroll;
}
/* class for horizontal scrolling on tablet devices */
@media screen and (max-width: 992px) {
  .lg-horizontal-scroll {
    @include horizontal-scroll;
  }
}

/* class for horizontal scrolling on tablet devices */
@media screen and (max-width: 768px) {
  .md-horizontal-scroll {
    @include horizontal-scroll;
  }
}

/* class for horizontal scrolling on mobile devices */
@media screen and (max-width: 576px) {
  .sm-horizontal-scroll {
    @include horizontal-scroll;
  }
}
.no-scrollbar {
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}
