---
import Accordion from "@components/ui/accordion/Accordion.astro";
import AccordionItem from "@components/ui/accordion/AccordionItem.astro";
import Buttons from "@components/ui/Buttons.astro";

import site from "@assets/data/data.json";

const { siteLinks } = site;
const pools = siteLinks.pools;
---

<Accordion>
  <AccordionItem header="Quelles sont les modalités de paiement ?" index="1">
    <p>
      Nous vous informons que le paiement doit être effectué lors de votre
      première séance. Des enveloppes et des tickets d'encaissement sont
      disponibles pour vous faciliter la tâche.
    </p>
    <h4>Paiement en espèces</h4>
    <p>
      Si vous optez pour un règlement en espèces, des enveloppes sont à votre
      disposition. Nous vous invitons à prévoir l'appoint et à remplir
      soigneusement votre ticket d'encaissement.
    </p>
    <h4>Paiement en chèques</h4>
    <p>
      Pour les paiements échelonnés (pour les abonnements ou les grosses
      cartes), nous acceptons les chèques à l'ordre de Maitre Baigneur. Merci de
      bien indiquer au dos du chèque le prénom et le nom du baigneur, ainsi que
      les dates d'encaissement si plusieurs chèques sont prévus.
    </p><p>
      Nous tenons à souligner que tous nos services doivent être réglés avant le
      début de la séance. Par exemple, si vous avez acheté une carte de 5
      séances à 100€, nous débiterons vos crédits au fur et à mesure.
    </p><p>
      Les règlements à la séance sont seulements acceptés pour les séances à
      l'unité, telle qu'une séance de natation pour 1 baigneur à 25€.
    </p>
  </AccordionItem>
  <AccordionItem header="Où puis-je apprendre à nager ?" index="2">
    <p>
      Vous pouvez apprendre à nager dans un de nos bassins d'apprentissage. En
      voici la liste :
    </p>
    <ul>
      {
        pools
          .filter((pool) => pool.name !== "Domicile")
          .map((pool) => (
            <li>
              <a href={pool.href}>{pool.name}</a> : {pool.address}
            </li>
          ))
      }
    </ul>
  </AccordionItem>
  <AccordionItem header="En cas d'empêchement ?" index="3">
    <p>
      Pensez à annuler vos séances en cas absence, nous avons des délais
      d'annulation jusqu'a 24 heures avant votre séance, afin de liberer la
      place pour qu'un autre enfant puisse en beneficier.
    </p><p>
      Nous comprenons qu’il peut y avoir des aléas c’est pourquoi nous laissons
      à tous nos clients un « joker » sur votre carte afin de ne pénaliser
      personne. Cette séance ne sera donc pas décomptée de votre carte si c’est
      la 1ere fois « joker», si c’est la 2 eme fois ou plus, la séance sera
      décomptée. ( sauf sur présentation d'un justificatif )
    </p><p>
      Veuillez s’il vous plaît penser à annuler (dans la mesure du possible)
      votre séance afin que nous puissions ajuster les emplois du temps et
      permettre à un autre enfant de bénéficier d’une séance de natation. Nous
      vous remercions pour votre compréhension. - Si vous rencontrez des
      problèmes à la réservation,n'hésitez pas à nous appeler.
    </p>
  </AccordionItem>
  <AccordionItem header="À partir de quel âge ?" index="4">
    <p>
      Nous leçons de natation commencent à partir de 3 ans et sont disponibles
      pour tous les âges.
    </p><p>
      <strong>Il n'est jamais trop tard !</strong>
    </p>
    <p>Nos cours bébé nageur commencent dès 3 mois et jusqu'à 36 mois.</p>
  </AccordionItem>
  <AccordionItem header="Quels sont les tarifs de Maître-Baigneur ?" index="5">
    <p>
      Nous avons créé une <Buttons href="/tarifs">
        page dédiée aux tarifs Maîtr-Baigneur
      </Buttons>. Vous y trouverez des prix attractifs pour des cours de
      natation ludiques et efficaces. Ne manquez pas cette occasion de vous
      amuser tout en apprenant à nager avec nos experts qualifiés.
    </p>
  </AccordionItem>
</Accordion>
