---
import Socials from "@components/Socials.astro";
import Link from "@components/ui/Link.astro";
import Waves from "@components/ui/shapes/Waves.astro";

const { ariaLabel } = Astro.props;
---

<section role="region" class="hero" aria-label={ariaLabel}>
	<div class="hero-img">
		<img src="/images/hero.jpg" alt="Enfant s'amusant sous l'eau avec les pouces en l'air" />
	</div>
	<div class="hero-content">
		<h1 class="hero-title">Apprendre à nager <span>à Aix-en-Provence</span></h1>
		<div class="hero-cta">
			<Link href="/contact" class="btn btn-outline-inverted" text="Contactez-nous">Contactez-nous</Link>
			<Link href="https://user.clicrdv.com/maitre-baigneur" class="hero-button btn btn-outline" text="Contactez-nous">Je réserve mon cours</Link>
		</div>
	</div>
	<div class="socials__wrapper">
		<Socials iconVersion="light" />
	</div>
	<Waves />
</section>

<style lang="scss">
	.hero {
		position: relative;
		height: 100vh;
		min-height: 550px;

		&-img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: hsla(var(--link-color-black-hsl), 0.5);
			}

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}
	.hero-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 2rem);
		text-align: center;
		color: var(--color-white);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hero-title {
		color: #fff;
		font-size: clamp(3rem, 5vw + 1rem, 5rem);
		line-height: 1.2;

		span {
			display: block;
			font-weight: 100;
			font-size: clamp(2rem, 3vw + 1rem, 3rem);
			margin-top: 0.5rem;
		}
	}
	.hero-cta {
		display: flex;
		align-items: center;
		gap: 1rem;

		@media screen and (max-width: 576px) {
			flex-direction: column-reverse;
			gap: 1rem;
		}
		a {
			min-width: max-content;

			@media screen and (max-width: 576px) {
				min-width: calc(320px - 2rem);
			}
		}
	}

	.socials__wrapper {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		z-index: 8;

		@media screen and (max-width: 768px) {
			right: 50%;
			transform: translateX(50%);
		}
	}
</style>
