---
const partners = [
  {
    name: "Aquabecool",
    logo: {
      imgUrlWebp: "/images/partners/aquabecool-partner.webp",
      imgUrl: "/images/partners/aquabecool-partner.jpg",
      imgAlt: "Logo Aquabecool Aix-en-Provence",
    },
  },

  {
    name: "Kabanon des écuries de l'aube",
    logo: {
      imgUrlWebp: "/images/partners/kabanon-partner.webp",
      imgUrl: "/images/partners/kabanon-partner.jpg",
      imgAlt: "Logo Kabanon des écuries de l'aube",
    },
  },
  {
    name: "Plan Form",
    logo: {
      imgUrlWebp: "/images/partners/planform-partner.webp",
      imgUrl: "/images/partners/planform-partner.jpg",
      imgAlt: "Logo Plan Form",
    },
  },
  {
    name: "Kinémouv'",
    logo: {
      imgUrlWebp: "/images/partners/kinemouv-partner.webp",
      imgUrl: "/images/partners/kinemouv-partner.jpg",
      imgAlt: "Logo Kinémouv'",
    },
  },
];
---

<div class="partners">
  {
    partners.map((partner) => {
      const { imgUrlWebp, imgUrl, imgAlt } = partner.logo;
      return (
        <picture class="partners__item scroll__item">
          <source type="image/webp" srcset={imgUrlWebp} />
          <img
            width="250"
            height="250"
            loading="lazy"
            src={imgUrl}
            alt={imgAlt}
          />
        </picture>
      );
    })
  }
</div>

<style lang="scss">
  .partners {
    & > div {
      position: relative;
    }
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;

      & > picture {
        flex: 0 0 calc(50% - (var(--space-sm) * 4));
      }
    }
    &__item {
      padding: var(--space-sm);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }
</style>
