---
const partners = [
	{
		name: "Aquabecool",
		logo: {
			imgUrlWebp: "/images/partners/aquabecool-partner.webp",
			imgUrl: "/images/partners/aquabecool-partner.jpg",
			imgAlt: "Logo Aquabecool Aix-en-Provence"
		}
	},

	{
		name: "Kabanon des écuries de l'aube",
		logo: {
			imgUrlWebp: "/images/partners/kabanon-partner.webp",
			imgUrl: "/images/partners/kabanon-partner.jpg",
			imgAlt: "Logo Kabanon des écuries de l'aube"
		}
	},
	{
		name: "Plan Form",
		logo: {
			imgUrlWebp: "/images/partners/planform-partner.webp",
			imgUrl: "/images/partners/planform-partner.jpg",
			imgAlt: "Logo Plan Form"
		}
	},
	{
		name: "Kinémouv'",
		logo: {
			imgUrlWebp: "/images/partners/kinemouv-partner.webp",
			imgUrl: "/images/partners/kinemouv-partner.jpg",
			imgAlt: "Logo Kinémouv'"
		}
	}
];
---

<div class="partners lg-horizontal-scroll no-scrollbar">
	{
		partners.map(partner => {
			const { imgUrlWebp, imgUrl, imgAlt } = partner.logo;
			return (
				<picture class="partners__item">
					<source type="image/webp" srcset={imgUrlWebp} />
					<img loading="lazy" src={imgUrl} alt={imgAlt} />
				</picture>
			);
		})
	}
</div>

<style lang="scss">
	.partners {
		position: relative;
		width: 100vw;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		display: flex;
		flex-wrap: nowrap;
		justify-content: center;

		padding-inline: 2rem;

		&__item {
			padding: 2rem;

			img {
				width: 100%;
			}
		}
	}
</style>
