<div class="carousel">
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
	<div class="item">
		<a href="/" target="_blanck">
			<img src="https://via.placeholder.com/200x100" alt="Logo de la ville d'Aix-en-Provence" title="Aix-en-Provence" />
		</a>
	</div>
</div>
<style lang="scss">
	.carousel {
		display: grid;
		gap: 2rem;
		grid-auto-flow: column;
		grid-auto-columns: 21%;
		padding-inline: 2rem;

		overflow-x: auto;
		overscroll-behavior-inline: contain;

		.item {
			padding-bottom: 1rem;
			img {
				width: 100%;
				height: auto;
				object-fit: center;
			}
		}
	}
</style>
<script is:inline></script>
