---
import { Picture } from 'astro:assets';
import aquabecool from '@assets/images/partners/aquabecoolfallback-partner.jpg';
import kabanon from '@assets/images/partners/kabanon-partner.jpg';
import planform from '@assets/images/partners/planform-partner.jpg';
import kinemouv from '@assets/images/partners/kinemouv-partner.jpg';

const partners = [
  {
    name: 'Aquabecool',
    logo: {
      url: aquabecool,
      alt: 'Logo Aquabecool Aix-en-Provence',
    },
  },

  {
    name: "Kabanon des écuries de l'aube",
    logo: {
      url: kabanon,
      alt: "Logo Kabanon des écuries de l'aube",
    },
  },
  {
    name: 'Plan Form',
    logo: {
      url: planform,
      alt: 'Logo Plan Form',
    },
  },
  {
    name: "Kinémouv'",
    logo: {
      url: kinemouv,
      alt: "Logo Kinémouv'",
    },
  },
];
---

<div class='partners'>
  {
    partners.map((partner) => {
      return (
        <div class='partners__item'>
          <Picture
            height={250}
            width={250}
            alt={partner.logo.alt}
            formats={['webp']}
            src={partner.logo.url}
          />
        </div>
      );
    })
  }
</div>

<style lang='scss'>
  .partners {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    & > div {
      position: relative;
      @media screen and (max-width: 768px) {
        flex: 0 0 50%;
      }
    }
    &__item {
      padding: var(--space-sm);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        background-color: transparent;
        border-radius: var(--regular-border-radius);
      }
    }
  }
</style>
