---
import LogoCarousel from "@components/widgets/LogoCarousel.astro";
---

<div class="container">
	<h3>Nos partenaires</h3>
	<p>Nous remercions nos partenaires sans qui l’aventure Maître-Baigneur ne serait pas possible.</p>
</div>

<div class="scroll-x-wrapper">
	<LogoCarousel />
</div>

<style lang="scss"></style>
