---
import LogoCarousel from "@components/widgets/LogoCarousel.astro";
import Container from "@components/Container.astro";
---

<Container>
	<h3>Nos partenaires</h3>
	<p>Nous remercions nos partenaires sans qui l’aventure Maître-Baigneur ne serait pas possible.</p>
	<LogoCarousel />
</Container>
