---
// Framework imports
import { Image } from 'astro:assets';

// Utils & Data
import site from '@assets/data/data.json';
import { images } from '@utils/images';

const { siteLinks } = site;
const pools = siteLinks.pools;
---

<div>
  {
    pools.map((pool) => (
      <a href={pool.href}>
        <Image
          class='pool__img'
          src={images[`/src/assets/images/pools/${pool.image.path}`].default}
          alt={pool.image.alt || ''}
        />
        <h4>{pool.name}</h4>
      </a>
    ))
  }
</div>

<style lang='scss'>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
    gap: 0.25rem;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      text-decoration: none;
    }
    img {
      width: 3rem;
      height: 2rem;
      object-fit: cover;
      border-radius: var(--regular-border-radius);
    }
    h4 {
      color: var(--color-white);
      font-size: var(--fs-base);
      margin-bottom: 0;
      padding-inline: 0.5rem;
      text-align: left;
    }
  }
</style>
