---
import Buttons from "@components/ui/Buttons.astro";
import Container from "@components/Container.astro";

import site from "@assets/data/data.json";

const { siteLinks } = site;
const pools = siteLinks.pools;
---

<Container className="pools__wrapper">
	<div class="pools__content">
		<h3 class="pools__title">Vous êtes à la recherche d'un bassin pour apprendre à nager ?</h3>
		<p class="pools__desc">
			Vous êtes au bon endroit. Nous opérons aussi bien à domicile que dans nos bassins d’apprentissage. Choisissez un de nos bassins et commencez
			votre aventure Maître-Baigneur. Nous sommes impatients de vous accueillir et de vous aider à atteindre vos objectifs.
		</p>
		<Buttons href="/bassins" class={`pools__btn btn btn__regular`}>Découvrir nos bassins</Buttons>
	</div>
</Container>

<div class="pools__carousel">
	<div class="carousel">
		{
			pools.map(pool => (
				<div class="carousel__item">
					<img loading="lazy" class="carousel__img" src={pool.image.src} alt={pool.image.alt} />
				</div>
			))
		}
	</div>
</div>
<style lang="scss"></style>
