---
import Container from "@components/Container.astro";

const reviews = [
	{
		name: "Yahia BEN AMMAR",
		review: "Super maître nageur, très professionnel et très pédagogue, je le recommande vivement.",
		score: 5,
	},
	{
		name: "John Doe",
		review: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
		score: 5,
	},
	{
		name: "John Doe",
		review: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
		score: 5,
	},
	{
		name: "John Doe",
		review: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
		score: 5,
	},
];
---

<Container>
	<h3 class="testimonials-title">Découvrez ce que nos clients disent de nous</h3>
	<p class="testimonials-desc">
		Dans ces témoignages, vous pouvez découvrir les expériences de nos clients qui ont participé à l'un de nos cours. Lisez leurs histoires pour
		savoir ce qu'ils pensent de notre enseignement, de nos maître-nageurs et de l'environnement d'apprentissage ludique et sécurisé que nous offrons.
		Ce sont les témoignages de nos clients satisfaits qui font de Maître-Baigneur le choix idéal pour votre apprentissage de la natation.
	</p>
</Container>

{
	reviews.map((review) => (
		<div class="">
			{" "}
			<div class="review">
				<div class="review__name">{review.name}</div>
				<div class="review__review">{review.review}</div>
				<div class="review__score">{review.score}</div>
			</div>
		</div>
	))
}
