---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";

//data
const title = "Maître-Baigneur | Notre bassin d'apprentissage au Kabanon des écuries de l'Aube";
const description = "";
const pageImageUrl = "/images/page-title/page_kabanon-bassins.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<PageTitle
		pageTitle="Kabanon des écuries de l'aube"
		pageImageUrl={pageImageUrl}
		pageImageAlt="Bassin du Kabanon des écuries de l'aube à Saint-Marc-Jaumegarde"
	/>
	<Main><h1>Kabanon des écuries de l'Aube</h1></Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
