---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";

//data
const title = "Maître-Baigneur | Notre bassin d'apprentissage à Plan Form";
const description = "";
const pageImageUrl = "/images/page-title/page_planform-bassins.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<PageTitle pageTitle="Planform" pageImageUrl={pageImageUrl} pageImageAlt="Bassin de Planform à Cabriès" />
	<Main><h1>Plan Form</h1></Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
