---
import site from "@assets/data/prices.json";
import Title from "@components/ui/Title.astro";

const { prices } = site;
const diploma = prices.diploma;
---

<div class="packages-container diploma">
  <div>
    <div class="package">
      <Title level="1" class="package__title">{diploma.name}</Title>
      <Title level="2" class="package__title--alt">{diploma.name_2}</Title>

      <ul class="package__list">
        <li class="package__item">
          {diploma.distance}
          <span class="package__price">{diploma.price}€</span>
        </li>
      </ul>
    </div>
  </div>

  <style>
    .container {
      width: 100%;
    }
  </style>
</div>
