---
import Button from "@components/ui/Button.astro";
import site from "@assets/data/prices.json";
import options from "@assets/data/formOptions.json";
import Title from "@components/ui/Title.astro";

const { prices } = site;
const eventsPrices = prices.events;

const eventOption = options.find((o) => o.slug === "securiser-un-evenement");
---

<div class="packages-container events">
  <div>
    <div class="package">
      <Title level="4" class="package__title">{eventsPrices.name}</Title>
      <ul class="package__list">
        <li class="package__item">
          {eventsPrices.condition}
          <span class="package__price">{eventsPrices.price}€</span>
        </li>
      </ul>
      <Button
        href={`/contact?option=${eventOption?.slug}`}
        class="btn btn__regular"
      >
        Demander un devis
      </Button>
    </div>
  </div>
</div>
