---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";

//data
const title = "Maître-Baigneur | Nos prestations aquatiques";
const description = "";
const pageImageUrl = "/images/page-title/fallback.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<PageTitle pageTitle="Prestations" pageImageUrl={pageImageUrl} pageImageAlt="Vue sur des pieds trempants dans l'eau d'une piscine" />
	<main><h1>Nos prestations aquatiques</h1></main>
	<Footer />
</BaseLayout>

<style></style>
