---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";

//data
const title = "Maître-Baigneur | Nos bassins d'apprentissage";
const description = "";
const pageImageUrl = "/images/page-title/fallback.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<PageTitle pageTitle="Bassins d'apprentissage" pageImageUrl={pageImageUrl} pageImageAlt="Vue sur des pieds trempants dans l'eau d'une piscine" />
	<main><h1>Nos bassins d'apprentissage</h1></main>
	<Footer />
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
