---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";

//data
const title = "Maître-Baigneur | Plan du site";
const description = "";
const pageImageUrl = "/images/page-title/page_tarifs.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<Main>
		<PageTitle
			pageTitle="Plan du site"
			pageImageUrl={pageImageUrl}
			pageImageAlt="Enfant sur bouée gonflable avec des lunettes de soleil faisant le signe Rock N' Roll de la main"
		/>
		<h2>Nos tarifs</h2>
	</Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
