---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Section from "@components/Section.astro";
import Main from "@components/Main.astro";
import Qualities from "@components/widgets/Qualities.astro";
import Pedagogy from "@components/widgets/Pedagogy.astro";
import CreatorQuote from "@components/widgets/CreatorQuote.astro";

//data
const title: string = "Maître-Baigneur | Qui sommes-nous ?";
const description: string = "";
const pageImageUrl: string = "/images/page-title/page_quisommesnous.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<PageTitle pageTitle="Qui sommes-nous ?" pageImageUrl={pageImageUrl} pageImageAlt="Maître-Baigneur apprenant un garçon à nager" />
	<Main>
		<Section class="qualities" ariaLabel="Maître-Baigneur en trois mots">
			<Qualities />
		</Section>
		<Section class="pedagogy" ariaLabel="La philosophie Maître-Baigneur" backgroundColor="var(--color-bg-light)">
			<Pedagogy />
		</Section>
		<Section class="quote" ariaLabel="Le mot du directeur Quentin Vander Meulen">
			<CreatorQuote />
		</Section>
	</Main>
	<Footer />

	<style>
		h1 {
			font-size: 3rem;
			font-weight: 800;
			margin: 0;
		}
	</style>
</BaseLayout>
