---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";

//data
const title = "Maître-Baigneur | Nos tarifs";
const description = "";
const pageImageUrl = "/images/page-title/page_tarifs.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<PageTitle
		pageTitle="Tarifs"
		pageImageUrl={pageImageUrl}
		pageImageAlt="Enfant sur bouée gonflable avec des lunettes de soleil faisant le signe Rock N' Roll de la main"
	/>
	<main><h1>Nos tarifs</h1></main>
	<Footer />
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
