---
---

<a class="nav-brand-link" href="/">Maître-Baigneur</a>

<style lang="scss" is:global>
	.nav-brand-link {
		position: relative;
		display: block;
		font-family: var(--ff-pacifico);
		font-size: var(--fs-small);
		color: inherit;
		text-decoration: none;
		padding-left: var(--space-xs);

		@media screen and (min-width: 992px) {
			padding-left: unset;
		}
	}
</style>
