---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<main id="skip-content-target" class:list={className}>
  <slot />
  
</main>

<style>
  main {
    overflow: hidden;
    padding-bottom: 3.5rem;
  }
</style>
