---
import GoToTop from "@components/ui/GoToTop.astro";
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<main id="skip-content-target" class:list={className}>
	<slot />
	<GoToTop />
</main>

<style>
	main {
		overflow: hidden;
	}
</style>
