---
interface Props {
	class?: string;
	backgroundColor?: string;
	darkSection?: boolean;
	ariaLabel?: string;
}
const backgroundColor = Astro.props.backgroundColor ? Astro.props.backgroundColor : "white";
const darkSection = Astro.props.darkSection === true ? "dark" : "light";

const { class: className, ariaLabel } = Astro.props;
---

<section class:list={["", darkSection, className]} aria-label={ariaLabel} tabindex="0" style={`background-color: ${backgroundColor}`}>
	<slot />
</section>

<style scoped>
	section {
		position: relative;
		padding-block: 4rem;
		padding-inline: 0;
	}
</style>
