<p class='copyright'>
  © <span id='year'>2022</span> – <strong>Maître-Baigneur</strong> – Tous droits réservés<br
  />Siret : 90011121200016
</p>
<style lang='scss'>
  .copyright {
    font-size: 1rem;
    text-align: center;
    padding: var(--space-sm);
    margin-bottom: 0;

    strong {
      font-family: var(--ff-pacifico);
      font-weight: 500;
    }
  }
</style>

<script is:inline>
  let currentYear = new Date().getFullYear();
  let yearElement = document.getElementById('year');
  yearElement.innerHTML = currentYear;
</script>
