---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";

//data
const title = "Maître-Baigneur | Cours bébé nageur";
const description = "";
const pageImageUrl = "/images/page-title/page_bebenageur.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<Main>
		<PageTitle pageTitle="Cours bébé nageur" pageImageUrl={pageImageUrl} pageImageAlt="Garçon en bas âge nageant sous l'eau " />
		<h1>Cours bébé nageur</h1>
	</Main>
	<Footer />
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
