---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";

//data
const title = "Maître-Baigneur | Cours de natation";
const description = "";
const pageImageUrl = "/images/page-title/page_natation.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />

	<Main>
		<PageTitle
			pageTitle="Cours de natation"
			pageImageUrl={pageImageUrl}
			pageImageAlt="Petite fille avec lunettes de natation nageant sous l'eau tout sourire"
		/><h1>Cours de natation</h1>
	</Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
