---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";

//data
const title = "Maître-Baigneur | Événements et sécurité";
const description = "";
const pageImageUrl = "/images/page-title/page_surveillance.jpg";
---

<BaseLayout title={title} descritpion={description}>
	<Header />
	<Main>
		<PageTitle pageTitle="Événements & Sécurité" pageImageUrl={pageImageUrl} pageImageAlt="Couple de mariés se jettant à l'eau dans une piscine" />
		<h1>Événements et sécurité</h1>
	</Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
