---
import { Icon } from "astro-icon";
---

<button id="bookingBtn" class="booking-btn" title="Réserver un cours" aria-label="Réserver un cours">
	<span class="visually-hidden">Réserver un cours</span>
	<Icon name="calendar" />
</button>

<style lang="scss">
	.booking-btn {
		display: none;
		position: fixed;
		width: 3rem;
		height: 3rem;
		bottom: calc(var(--space-md) * 2 + 2rem);
		right: var(--space-md);
		z-index: 99;
		border: none;
		cursor: pointer;
		border-radius: 100vw;
		font-size: var(--fs-xs);
		background-color: var(--color-secondary);
		color: var(--color-white);
		max-height: 100%;
		overflow: hidden;

		justify-content: center;
		align-items: center;

		@media screen and (max-width: 768px) {
			bottom: calc(var(--space-sm) * 2 + 2.5rem);
			right: var(--space-sm);
		}

		&:hover {
			background-color: hsl(var(--link-color-secondary-h), var(--link-color-secondary-s), calc((var(--link-color-secondary-l) - 15%)));
			box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3), 0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);
		}

		svg {
			align-self: center;
		}
	}
</style>
<script>
	// Get the "back to top" button
	const bookingBtn = document.getElementById("bookingBtn") as HTMLElement;
	// When the user clicks on the button, scroll to the top of the document
	bookingBtn.addEventListener("click", function () {
		window.location.href = "https://user.clicrdv.com/maitre-baigneur";
	});
	// Get the main element

	window.addEventListener("scroll", function () {
		scrollFunction();
	});

	function scrollFunction() {
		let scroll = document.body.scrollTop || document.documentElement.scrollTop;
		if (scroll > 20) {
			bookingBtn.style.display = "flex";
		} else {
			bookingBtn.style.display = "none";
		}
	}
</script>
