---
interface Props {
	//   size?: "md" | "lg";
	block?: boolean;
	style?: "outline" | "primary" | "inverted" | "outline_inverted";
	class?: string;
	[x: string]: any;
}
const { style = "primary", block, class: className, ...rest } = Astro.props;

const styles = {
	outline: "btn-outline",
	primary: "btn-primary",
	inverted: "btn-inverted",
	outline_inverted: "btn-outline-inverted",
};
---

<button {...rest} class:list={["btn", block, styles[style], className]}><slot /></button>
