---
import { Icon } from "astro-icon/components";
---

<button id="gototopBtn" class="gototop-btn" title="Retour en haut de la page" aria-label="Retour en haut de la page">
	<span class="visually-hidden">Retour en haut de la page</span>
	<Icon name="arrow_down" />
</button>

<style lang="scss">
	.gototop-btn {
		display: none;
		position: fixed;
		width: 3rem;
		height: 3rem;
		bottom: var(--space-md);
		right: var(--space-md);
		z-index: 99;
		border: none;
		cursor: pointer;
		border-radius: 100vw;
		font-size: var(--fs-xs);
		// background-color: var(--color-secondary);
		// color: var(--color-white);
		max-height: 100%;
		overflow: hidden;
		transition: all 0.2s ease-in-out;

		justify-content: center;
		align-items: center;

		@media screen and (max-width: 768px) {
			bottom: var(--space-sm);
			right: var(--space-sm);
		}

		// &:hover {
		// 	background-color: hsl(var(--link-color-secondary-h), var(--link-color-secondary-s), calc((var(--link-color-secondary-l) - 15%)));
		// 	box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3), 0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);
		// }

		&.light {
			background-color: var(--color-bg-light);
			color: black;
			box-shadow: 0 10px 15px -3px hsla(var(--link-color-bg-light-hsl), 0.3), 0 4px 6px -4px hsla(var(--link-color-bg-light-hsl), 0.3);

			&:hover {
				  background-color: #555; /* Add a dark-grey background on hover */
			}
		}
		&.dark {
			background-color: var(--color-primary);
			color: white;
			box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3), 0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);

			&:hover {
				  background-color: #555; /* Add a dark-grey background on hover */
			}
		}

		svg {
			transform: rotate(180deg);
			align-self: center;
		}
	}
</style>
<script>
	// Get the "back to top" button
	const gototopBtn = document.getElementById("gototopBtn") as HTMLElement;
	// When the user clicks on the button, scroll to the top of the document
	gototopBtn.addEventListener("click", topFunction);
	// Get the main element
	let main = document.querySelector("main") as HTMLElement;
	// Get all the sections inside the main element
	let sections = main.querySelectorAll("section") as NodeListOf<HTMLElement>;
	// Get the footer element
	let footer = document.querySelector("footer") as HTMLElement;

	window.addEventListener("scroll", function () {
		scrollFunction();
	});

	window.addEventListener("scroll", function () {
		let allSections = [...sections, footer];
		for (let i = 0; i < allSections.length; i++) {
			let section = allSections[i];
			let sectionRect = section.getBoundingClientRect();
			let buttonRect = gototopBtn.getBoundingClientRect();
			if (buttonRect.bottom >= sectionRect.top && buttonRect.bottom <= sectionRect.bottom) {
				let bgColor = window.getComputedStyle(section).getPropertyValue("background-color");
				let color;
				if (bgColor.includes("rgba(")) {
					let colorResult = /rgba\((\d+),\s*(\d+),\s*(\d+),\s*([\d.]+)\)/g.exec(bgColor);
					color = colorResult !== null ? colorResult : [0, 0, 0, 0];
				} else {
					let colorResult = /rgb\((\d+),\s*(\d+),\s*(\d+)\)/g.exec(bgColor);
					color = colorResult !== null ? colorResult : [0, 0, 0];
				}
				let r = Number(color[1]),
					g = Number(color[2]),
					b = Number(color[3]);
				const brightness = isLight(r, g, b);
				if (brightness) {
					gototopBtn.classList.remove("light");
					gototopBtn.classList.add("dark");
				} else {
					gototopBtn.classList.remove("dark");
					gototopBtn.classList.add("light");
				}
			}
		}
	});

	function isLight(r: number, g: number, b: number): boolean {
		let brightness = (r * 299 + g * 587 + b * 114) / 1000;
		return brightness > 128 || brightness === 0;
	}

	function scrollFunction() {
		let scroll = document.body.scrollTop || document.documentElement.scrollTop;
		if (scroll > 20) {
			gototopBtn.style.display = "flex";
		} else {
			gototopBtn.style.display = "none";
		}
	}

	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
