<div id="particles-js"></div>

<style>
	#particles-js {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}
</style>
<script src="/src/assets/scripts/particles.js"></script>
