---
import { Icon } from "astro-icon";
---

<div class="sticky-btn">
  <button
    id="main-btn"
    aria-haspopup="true"
    aria-expanded="false"
    title="Ouvrir ou fermer le menu"
    aria-label="Ouvrir ou fermer le menu"
    ><Icon name="cross" /><span class="visually-hidden"
      >Ouvrir ou fermer le menu</span
    >
  </button>

  <div class="sub-btns" role="menu" aria-label="submenu" aria-hidden="true">
    <button
      role="menuitem"
      id="facebook"
      title="Donnez votre avis sur Facebook "
      aria-label="Donnez votre avis sur Facebook"
    >
      <Icon name="facebook-review" />
      <span class="visually-hidden">Donnez votre avis sur Facebook</span>
      <div class="hover-text-container">
        <span class="hover-text">Donnez votre avis sur Facebook</span>
      </div>
    </button>
    <button
      role="menuitem"
      id="google"
      title="Donnez votre avis sur Google "
      aria-label="Donnez votre avis sur Google"
    >
      <Icon name="google" />
      <span class="visually-hidden">Donnez votre avis sur Google</span>
      <div class="hover-text-container">
        <span class="hover-text">Donnez votre avis sur Google</span>
      </div>
    </button>
    <button
      role="menuitem"
      id="whatsapp"
      title="Nous contacter par Whatsapp"
      aria-label="Nous contacter par Whatsapp"
    >
      <Icon name="whatsapp" />
      <span class="visually-hidden">Nous contacter par Whatsapp</span>
      <div class="hover-text-container">
        <span class="hover-text">Nous contacter par Whatsapp</span>
      </div>
    </button>
    <button
      role="menuitem"
      id="booking"
      title="Réserver un cours"
      aria-label="Réserver un cours"
    >
      <Icon name="calendar" />

      <span class="visually-hidden">Réserver un cours</span>
      <div class="hover-text-container">
        <span class="hover-text">Réserver un cours</span>
      </div>
    </button>
  </div>
</div>
<!-- <button id="bookingBtn" class="booking-btn" title="Réserver un cours" aria-label="Réserver un cours">
	<span class="visually-hidden">Réserver un cours</span>
	<Icon name="calendar" />
</button> -->

<style lang="scss">
  .sticky-btn {
    position: fixed;
    z-index: 999;
    bottom: var(--space-sm);
    right: var(--space-sm);
    display: none;

    @media screen and (max-width: 768px) {
      bottom: var(--space-xs);
      right: var(--space-xs);
    }

    & > button {
      color: var(--color-white);
      background-color: var(--color-secondary);
      border: none;
      border-radius: 100vh;
      width: 3rem;
      height: 3rem;
      border: 1px solid transparent;

      &[aria-expanded="true"] {
        border: 1px solid var(--color-white);
      }
      svg {
        transform: rotate(45deg) scale(1);
        transition: all 0.2s ease-in;
      }

      &:hover {
        svg {
          transform: rotate(45deg) scale(1.3);
        }
      }

      &.active {
        svg {
          transform: rotate(-360deg) scale(1);
        }
      }
    }

    * button {
      cursor: pointer;
      color: var(--color-white);
      border: none;
      border-radius: 100vh;
      width: 3rem;
      height: 3rem;
      box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3),
        0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);

      &#whatsapp {
        background-color: #25d366;
      }
      &#booking {
        background-color: #e16f5c;
      }
      &#google {
        background-color: var(--color-white);
      }
      &#facebook {
        background-color: var(--color-white);
      }
      #booking,
      #whatsapp,
      #google,
      #facebook {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }

    * svg {
      width: var(--space-md);
      height: var(--space-md);
    }
  }
  .main-btn {
    z-index: 99;
    border: none;
    cursor: pointer;
    border-radius: 100vw;
    font-size: var(--fs-xs);
    background-color: var(--color-secondary);
    color: var(--color-white);
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-btns {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    position: absolute;
    bottom: calc(var(--space-2xs) + 3rem);
    right: 0;
    z-index: 1;
    &[aria-hidden="true"] {
      display: none;
    }
    button {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:hover {
        .hover-text-container {
          right: 4rem;
          opacity: 1;
        }
      }

      .hover-text-container {
        position: absolute;
        top: 50%;
        right: 4rem;
        transform: translateY(-50%);
        opacity: 0;
        white-space: nowrap;
        transition: right 0.4s ease-in-out, opacity 0.4s ease-in-out;
        pointer-events: none;
        color: var(--color-primary);
        background-color: hsla(var(--link-color-white-hsl), 0.8);
        padding: var(--space-2xs) var(--space-xs);
        border-radius: var(--border-radius);
        backdrop-filter: blur(5px);
        box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3);
      }
    }
  }
</style>
<script>
  // Get the "back to top" button
  const stickyBtns = document.querySelector(".sticky-btn") as HTMLElement;
  const bookingBtn = document.getElementById("booking") as HTMLElement;
  const whatsappBtn = document.getElementById("whatsapp") as HTMLElement;
  const googleBtn = document.getElementById("google") as HTMLElement;
  const facebookBtn = document.getElementById("facebook") as HTMLElement;

  bookingBtn.addEventListener("click", function () {
    window.location.href = "https://user.clicrdv.com/maitre-baigneur";
  });
  whatsappBtn.addEventListener("click", function () {
    window.location.href = "https://api.whatsapp.com/send?phone=337007584";
  });
  googleBtn.addEventListener("click", function () {
    window.location.href =
      "https://www.google.com/search?q=maitre+baigneur&sxsrf=APwXEdf-BJd_3S-gih6DApiYzIM_YBXk9w%3A1681742589592&ei=_Vo9ZKrPI4WIkdUPrpqO4Aw&ved=0ahUKEwjqwZ-tk7H-AhUFRKQEHS6NA8wQ4dUDCA8&uact=5&oq=maitre+baigneur&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzILCC4QgAQQxwEQrwEyBQgAEIAEMgYIABAWEB4yCAgAEBYQHhAPMgYIABAWEB46CggAEEcQ1gQQsANKBAhBGABQkBlYvCVgsydoA3ABeACAAZsBiAH1C5IBBDAuMTKYAQCgAQHIAQjAAQE&sclient=gws-wiz-serp#lrd=0x12c98f133b663547:0xd4550e7a8de92771,3,,,,";
  });
  facebookBtn.addEventListener("click", function () {
    window.location.href = "https://www.facebook.com/MaitreBaigneur/reviews";
  });

  // When the user clicks on the button, scroll to the top of the document
  window.addEventListener("scroll", function () {
    scrollFunction();
  });

  function scrollFunction() {
    let scroll = document.body.scrollTop || document.documentElement.scrollTop;
    const subBtns = [bookingBtn, whatsappBtn, googleBtn, facebookBtn];

    if (scroll > 20) {
      stickyBtns.style.display = "flex";
    } else {
      stickyBtns.style.display = "none";
    }
  }

  const mainBtn: HTMLButtonElement = document.getElementById(
    "main-btn"
  ) as HTMLButtonElement;
  const subBtns: HTMLDivElement = document.querySelector(
    ".sub-btns"
  ) as HTMLDivElement;

  mainBtn.addEventListener("click", function () {
    mainBtn.classList.toggle("active");
    if (subBtns.getAttribute("aria-hidden") === "true") {
      subBtns.setAttribute("aria-hidden", "false");
      mainBtn.setAttribute("aria-expanded", "true");

      const childButtons = Array.from(subBtns.children);
      childButtons.reverse().forEach((btn, index) => {
        setTimeout(() => {
          btn.style.display = "inline-flex"; // Change display to "inline-flex" for visible state
        }, index * 100); // 200ms delay for each button
      });
    } else {
      subBtns.setAttribute("aria-hidden", "true");
      mainBtn.setAttribute("aria-expanded", "false");

      const childButtons = Array.from(subBtns.children);
      childButtons.reverse().forEach((btn, index) => {
        setTimeout(() => {
          btn.style.display = "none"; // Change display to "none" for hidden state
        }, index * 100); // 200ms delay for each button
      });
    }
  });

  document.addEventListener("keydown", function (event: KeyboardEvent) {
    if (event.key === "Escape") {
      subBtns.setAttribute("aria-hidden", "true");
      mainBtn.focus();
    }
  });
</script>
