.required {
  color: var(--color-error);
}
.form {
  //form variables
  --card-line-height: 1.2em;
  --card-padding: var(--space-md);
  --card-radius: 20px;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: var(--space-md);
  --form-gap: var(--space-xs);

  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-gap: var(--form-gap);
  padding-block: 2rem;

  legend {
    width: 100%;
    padding-inline: 1rem;
    font-family: var(--ff-pacifico);
    color: var(--color-primary);
    font-size: var(--fs-lg);
    width: 100%;
    grid-column: 1 / span 2;
  }
  &__group {
    border: none;
    padding: 0;
  }

  &__group .radio__group {
    padding: var(--form-gap);
    display: grid;
    grid-gap: var(--form-gap);
    border: none;
    border-radius: var(--regular-border-radius);
    grid-template-columns: 1fr;

    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .form__field {
      margin: 0;
      display: flex;
      gap: 0.3rem;
      flex-direction: column;
      grid-column: 1 / 3;

      @media screen and (min-width: 600px) {
        grid-column: unset;
      }
    }
  }
  &__section {
    padding: var(--form-gap);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--form-gap);
    border: none;
    border-radius: var(--regular-border-radius);
    flex: 0 0 100%;

    @media screen and (min-width: 767px) {
      flex: 0 0 calc(50% - calc(var(--form-gap) / 2));
    }

    .form__field {
      margin: 0;
      display: flex;
      gap: 0.3rem;
      flex-direction: column;
      flex: 0 0 100%;

      @media screen and (min-width: 768px) {
        flex: 0 0 calc(50% - calc(var(--form-gap) / 2));
      }

      &.error {
        input,
        textarea,
        select {
          outline: 2px solid var(--color-error);
        }
        .error-message {
          color: var(--color-error);
          margin: 0;
          font-size: 0.8rem;
          display: flex;

          &::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='#e16f5c' d='M6.646 16.646a.5.5 0 0 0 .708.708l-.708-.708Zm5.708-4.292a.5.5 0 0 0-.708-.708l.708.708Zm-.708-.708a.5.5 0 0 0 .708.708l-.708-.708Zm5.708-4.292a.5.5 0 0 0-.708-.708l.708.708Zm-5 4.292a.5.5 0 0 0-.708.708l.708-.708Zm4.292 5.708a.5.5 0 0 0 .708-.708l-.708.708Zm-5-5a.5.5 0 0 0 .708-.708l-.708.708ZM7.354 6.646a.5.5 0 1 0-.708.708l.708-.708Zm0 10.708 5-5-.708-.708-5 5 .708.708Zm5-5 5-5-.708-.708-5 5 .708.708Zm-.708 0 5 5 .708-.708-5-5-.708.708Zm.708-.708-5-5-.708.708 5 5 .708-.708Z'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-size: 1rem;
            margin-top: 2px;
          }
        }
      }
    }

    *.col-100 {
      flex: 0 0 100%;
    }
    .fieldgroup {
      position: relative;
      padding: calc(var(--form-gap) * 2);
      background-color: var(--color-bg-light);
      border-radius: var(--regular-border-radius);
      overflow: hidden;
      margin-bottom: var(--form-gap);

      &::before {
        content: "";
        background-position: 100%;
        background-size: 100%;
        display: block;
        height: 100%;
        opacity: 0.03;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
      &:first-child {
        &::before {
          background-image: url("/src/icons/single.svg");
          right: -25%;
        }
      }
      &:nth-child(2) {
        &::before {
          background-image: url("/src/icons/duo.svg");
          right: -20%;
        }
      }
      &:nth-child(3) {
        &::before {
          background-image: url("/src/icons/trio.svg");
          right: -10%;
        }
      }

      &__title {
        font-family: var(--ff-pacifico);
        font-size: var(--fs-md);
        color: var(--color-primary);
        margin: 0;
        margin-bottom: var(--space-sm);
        grid-column: 1 / span 2;
      }

      & > * {
        display: flex;
        flex-direction: column;
        gap: var(--form-gap);
        position: relative;
        z-index: 1;

        @media screen and (min-width: 767px) {
          display: grid;
          grid-gap: var(--form-gap);
          grid-template-columns: calc(50% - calc(var(--form-gap) / 2)) calc(
              50% - calc(var(--form-gap) / 2)
            );
        }

        & > .form__field {
          &:nth-child(2) {
            @media screen and (min-width: 767px) {
              grid-column: 1 / span 2;
            }
          }
        }
      }
    }

    input:not([name="option"]),
    textarea,
    select {
      background-color: var(--color-white);
      border-radius: var(--regular-border-radius);
      padding: 0.5rem;
      border: var(--radio-border-width) solid var(--color-gray);

      &:hover {
        border-color: var(--color-dark-gray);
      }
      &:focus {
        outline: 2px solid var(--color-primary);
        box-shadow: 1px 1px 8px 1px hsla(var(--link-color-primary-hsl), 0.5);
      }

      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        input:not([name="option"]),
        textarea,
        select,
        input[type="date"] {
          padding: 0.5rem 1rem;
          width: 100%;
          height: 2rem;
        }
      }
    }
  }
  &__section {
    &.no-inputs {
      display: flex;
      flex-direction: column;
      gap: var(--space-md);

      & > * {
        margin: 0;
      }

      // pool list
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2xs);
        padding-left: var(--space-sm);

        & > li {
          list-style-type: none;
          border-radius: var(--regular-border-radius);
          transition: all 0.3s ease-in-out;
          flex-basis: calc(50% - var(--space-md));
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateX(1rem);
          }

          @media screen and (max-width: 767px) {
            flex-basis: calc(100% - var(--space-md));
          }

          a:is(a, :hover, :focus, :active) {
            color: var(--color-primary);
            text-decoration: none;
            font-family: var(--ff-pacifico);
            display: flex;
            align-items: center;
          }

          img {
            width: 3rem;
            height: 3rem;
            border-radius: var(--regular-border-radius);
            margin-right: var(--space-sm);
          }
        }
      }
      .pools {
        padding: var(--space-md);
        background-color: var(--color-bg-light);
        border-radius: var(--regular-border-radius);

        @media screen and (max-width: 768px) {
          padding-inline: var(--space-xs);
        }
      }

      //booking btn
      .btn {
        svg {
          width: 2rem;
          margin-right: var(--space-xs);
        }
      }
    }
    .levels {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--space-md);
      list-style-type: none;
      padding: 0;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      & > li {
        background-color: var(--color-bg-light-alt);
        padding: var(--space-sm);
        border-radius: var(--regular-border-radius);

        & > span {
          font-family: var(--ff-pacifico);
          font-size: var(--fs-xs);
          font-weight: 600;
          color: var(--color-primary);
        }
        ul {
          font-style: italic;
          list-style-type: none;
          padding-left: var(--space-xs);
          display: flex;
          flex-direction: column;
          gap: var(--space-2xs);

          li {
            background-color: var(--color-white);
            padding-inline: var(--space-sm);
            border-radius: var(--border-radius);
          }
        }
      }
    }

    label {
      height: auto;
    }
    &.rgpd {
      /*style label to give some more space*/
      .checkbox-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: var(--space-sm);

        label {
          display: block;
          padding-left: 48px;
        }
        input {
          height: 1.5rem;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 1.5rem;
        }
        input + label::before {
          border: 2px solid;
          content: "";
          height: 1.5rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 1.5rem;
          border-radius: 3px;
        }
        input + label::after {
          content: "";
          height: 1.5rem;
          width: 1.5rem;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          background-color: var(--color-primary);
          background-image: url("/src/icons/check.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1.5rem;

          transition: opacity 0.2s ease-in-out;
          border-radius: 3px;
        }
        input:checked + label::after {
          opacity: 1;
        }

        /*focus styles*/
        input:focus + label::before {
          box-shadow: 0 0 0 3px var(--color-secondary);
          outline: 3px solid transparent; /* For Windows high contrast mode. */
        }
        .error-message {
          grid-column: 1 / span 2;
          font-size: 0.8rem;
        }
      }
      .error {
        .checkbox-wrapper {
          input:focus + label::before,
          input + label::before {
            box-shadow: 0 0 0 3px var(--color-error);
            outline: 3px solid transparent; /* For Windows high contrast mode. */
          }
        }
      }
    }
  }

  label {
    display: block;
    height: 100%;

    &:not(.card, .rgpd-label) {
      padding-left: var(--space-xs);
      font-size: 1rem;
      font-weight: 600;
      color: var(--color-secondary);
      height: unset;
    }
  }

  small {
    color: hsla(var(--link-color-black-hsl), 0.5);
    padding-left: var(--space-xs);
  }
}
