.card {
  background-color: var(--color-white);
  border-radius: var(--card-radius);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: 1;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    opacity: 0.05;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3),
      0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);
  }

  &.selected {
    .card__title {
      border: var(--radio-border-width) solid var(--color-primary);
    }
    &:hover {
      .card__title {
        border-color: var(--color-primary) !important;
      }
    }
  }

  &.card-swimming {
    &::before {
      background-image: url("../../assets/images/icons/swimmer.svg");
    }
  }
  &.card-aquaversary {
    &::before {
      background-image: url("../../assets/images/icons/aquaversaire.svg");
    }
  }
  &.card-events {
    &::before {
      background-image: url("../../assets/images/icons/event.svg");
    }
  }
  &.card-questions {
    &::before {
      background-image: url("../../assets/images/icons/comment-smile.svg");
    }
  }
  &.card-baby {
    &::before {
      background-image: url("../../assets/images/icons/baby.svg");
    }
  }
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);

    &::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: "";
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  .card:hover .radio {
    border-color: var(--color-dark-gray);

    &:checked {
      border-color: var(--color-primary);
    }
  }
}

.card__title {
  height: 100%;
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-block: var(--card-padding);
  padding-inline: var(--card-padding) 4.5rem;

  transition: border-color 0.2s ease-out;
}

.card {
  &:hover {
    .card__title {
      border-color: var(--color-dark-gray);
    }
    .radio {
      &:disabled {
        & ~ .card__title {
          border-color: var(--color-gray);
          box-shadow: none;
        }
      }
    }
    .card {
      &:hover {
        .radio {
          &:disabled {
            border-color: var(--color-gray);
          }
        }
      }
    }
  }
}
